.root {
    width: '100%',
  }
  .button {
      margin-top: 1;
      margin-right: 1;
  }
  .actionsContainer {
    margin-bottom: 2;
  }
  .resetContainer {
    padding: 3,
  }

  .parent {
    width: 100%;
    display: inline;
  }

  .left{
    width: 70%;
    float: left;
  }

  .right{
    width: 30%;
    float: left;
  }