.root {
    width: '100%',
  }
  
.MuiFormControl-root .dispNone {
	display: none;
}

.MuiFormControl-root .dispBlock {
	display: block;
}

.red {
	color: red;
}
  .button {
      margin-top: 1;
      margin-right: 1;
  }
  .actionsContainer {
    margin-bottom: 2;
  }
  .resetContainer {
    padding: 3,
  }

  .parent {
    width: 100%;
    display: inline;
  }

  .left{
    width: 10%;
    float: left;
  }

  .right{
    width: 40%;
    float: left;
  }

  .MuiGridList-root{
    display: 'flex';
    flex-wrap: 'wrap';
    justify-content: 'space-around';
    overflow: 'hidden';
  }

  .MuiGridListTile-root{
    flex-wrap: 'nowrap';
    transform: 'translateZ(0)';
  }

  .state{
    width:100px;
  }
  .MuiSelect-select.MuiSelect-select{
    width: 170px;;
  }
  .MuiList-root{
    height: 130px;
  }